@charset "utf-8";
/* CSS Document */

body { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;background: #FFFFFF;}

h1{
	line-height: 1.0em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
	color: #313288;
	font-size: 29px;
	font-weight: bold;
	text-decoration:none;
	text-align:left;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:5px;
	padding-top:15px;
}
	
h2{
	line-height: 1.0em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
	color: #009ee2;
	font-size: 22px;
	font-weight: bold;
	text-decoration:none;
	text-align:left;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:5px;
	padding-top:15px;
}

h3{
	line-height: 1.0em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
	color: #808080;
	font-size: 20px;
	font-weight: bold;
	text-decoration:none;
	text-align:left;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:5px;
	padding-top:15px;
}

/* -----------------formulario--------------------- */
/* -----------------Input Text--------------------- */
input { 
	border: 1px solid #AAAAAA;
	background-color: #FFFFFF;
	font: 12px verdana, arial, helvetica, sans-serif;
	line-height: 1.467;
	padding: 2px 2px;
	height: 20px;
  
}

/*----------------------------SELECT--------------------------*/
select { 
	border: 1px solid #AAAAAA;
	background-color: #FFFFFF;
	font: 12px verdana, arial, helvetica, sans-serif;
	padding: 2px 2px;
	height: 25px;
}

/*-------------------List--------------------------------*/
.list { 
	border: 1px solid #AAAAAA;
	background-color: #FFFFFF;
	font: 12px verdana, arial, helvetica, sans-serif;
	line-height: 1.467;
	padding: 2px 2px;
	height: 100px;
	width: 100%;

}

/*----------------------------TEXTAREA--------------------------*/

textarea { 
	border: 1px solid #AAAAAA;
	background-color: #FFFFFF;
	font: 12px verdana, arial, helvetica, sans-serif;
	line-height: 1.467;
	padding: 2px 2px;
	height: 100px;
	width: 95%;
}

/*-----------------Radio Button--------------------------------*/

input[type="radio"]{
	border: 0px
}

/*-----------------Check Box--------------------------------*/

input[type="checkbox"]{
	border: 0px
}
	
/*----------------------------Button--------------------------*/
/*----------------------------Salvar--------------------------*/

.Salvar {
	height:40px;
	width: 120px;
	background: #128425 url(../images/icones/save.png) no-repeat 5px; 
	border:#128425 0px solid;
	color: #FFFFFF;
	font: 14px verdana, arial, helvetica, sans-serif;
	border-bottom-style: outset;
	margin-right: 15px;
	padding-bottom:2px;
	cursor: pointer;
}
	
.Salvar:active{ 
	background: #128425 url(../images/icones/save.png) no-repeat 6px; 
	color: #DDDDDD;
	font-weight:bold;
}

/*----------------------------Novo--------------------------*/
.Novo {
	height:40px;
	width: 120px;
	background: #2672EC url(../images/icones/new.png) no-repeat 5px; 
	border:#2672EC 0px solid;
	color: #FFFFFF;
	font: 14px verdana, arial, helvetica, sans-serif;
	border-bottom-style: outset;
	margin-right: 15px;
	padding-bottom:2px;
	cursor: pointer;
}
	
.Novo:active{ 
	background: #2672EC url(../images/icones/new.png) no-repeat 6px; 
	color: #DDDDDD;
	font-weight:bold;
}

/*----------------------------Login--------------------------*/

.Login {
	height:40px;
	width: 120px;
	background: #1F0068 url(../images/icones/login.png) no-repeat 5px; 
	border:#1F0068 0px solid;
	color: #FFFFFF;
	font: 14px verdana, arial, helvetica, sans-serif;
	border-bottom-style: outset;
	margin-right: 15px;
	padding-bottom:2px;
	cursor: pointer;
}
	
.Login:active{ 
	background: #1F0068 url(../images/icones/login.png) no-repeat 6px; 
	color: #DDDDDD;
	font-weight:bold;
}

/*----------------------------Logout--------------------------*/
.Logout {
	height:40px;
	width: 120px;
	background: #61292B url(../images/icones/logout.png) no-repeat 5px; 
	border:#61292B 0px solid;
	color: #FFFFFF;
	font: 14px verdana, arial, helvetica, sans-serif;
	border-bottom-style: outset;
	margin-right: 15px;
	padding-bottom:2px;
	cursor: pointer;
}
	
.Logout:active{ 
	background: #61292B url(../images/icones/logout.png) no-repeat 6px; 
	color: #DDDDDD;
	font-weight:bold;
}

/*------------------------------Tabela-------------------*/

.tabela tr, td{
	padding:5px;
}

/*-----------------Links--------------------------------*/
/*-----------------Novo--------------------------------*/

.linkNovo{
	background: #2672EC url(../images/icones/new.png) no-repeat 5px;
	color: #FFFFFF;
	font: 14px verdana, arial, helvetica, sans-serif;
	margin: 5px;
	padding: 10px;
	padding-left: 40px;
	text-align: center;
	text-decoration: none;
}

.linkNovo:active{
	background: #2672EC url(../images/icones/new.png) no-repeat 6px; 
	color: #DDDDDD;
	font-weight:bold;
}

/*-----------------Imprimir--------------------------------*/

.Imprimir{
	background: #2b5797 url(../images/icones/print.png) no-repeat 5px;
	color: #FFFFFF;
	font: 14px verdana, arial, helvetica, sans-serif;
	margin: 5px;
	padding: 10px;
	padding-left: 40px;
	text-align: center;
	text-decoration: none;

}

.Imprimir:active{
	background: #2b5797 url(../images/icones/print.png) no-repeat 6px; 
	color: #DDDDDD;
	font-weight:bold;
}

/*-----------------Yes--------------------------------*/

.Sim{
	background: #00C13F url(../images/icones/yes.png) no-repeat 5px;
	color: #FFFFFF;
	font: 14px 00C13F verdana, arial, helvetica, sans-serif;
	margin: 5px;
	padding: 10px;
	padding-left: 25px;
	text-align: center;
	text-decoration: none;
}
/*-----------------No--------------------------------*/

.Nao{
	background: #FF2E12 url(../images/icones/no.png) no-repeat 5px;
	color: #FFFFFF;
	font: 14px verdana, arial, helvetica, sans-serif;
	margin: 5px;
	padding: 10px;
	padding-left: 25px;
	text-align: center;
	text-decoration: none;
}

/*-----------------Add--------------------------------*/

.Adicionar{
	background: url(../images/icones/add.png) no-repeat 5px;
	font: 14px verdana, arial, helvetica, sans-serif;
	color: #00ff0c;
	margin: 5px;
	padding: 10px;
	padding-left: 30px;
	text-decoration: none;
}

/*-----------------Remove--------------------------------*/

.Remover{
	background: url(../images/icones/remove.png) no-repeat 5px;
	font: 14px verdana, arial, helvetica, sans-serif;
	color: #FF0000;
	margin: 5px;
	padding: 10px;
	padding-left: 30px;
	text-decoration: none;
}

/*-----------------Download--------------------------------*/

.Download{
	background: #603cba url(../images/icones/download.png) no-repeat 5px;
	color: #FFFFFF;
	font: 14px verdana, arial, helvetica, sans-serif;
	margin: 5px;
	padding: 10px;
	padding-left: 40px;
	text-align: right;
	text-decoration: none;
}

/*-----------------Lixo--------------------------------*/

.Lixo{
	background: #696969 url(../images/icones/trash.png) no-repeat 7px;
	color: #FFFFFF;
	font: 14px verdana, arial, helvetica, sans-serif;
	margin: 5px;
	padding: 10px;
	padding-left: 20px;
	text-align: right;
	text-decoration: none;
}

/*-----------------Cadeado Aberto--------------------------------*/

.CadAberto{
	background: #00C13F url(../images/icones/cadeadoaberto.png) no-repeat 7px;
	color: #FFFFFF;
	font: 14px 00C13F verdana, arial, helvetica, sans-serif;
	margin: 5px;
	padding: 10px;
	padding-left: 25px;
	text-align: center;
	text-decoration: none;
}
/*-----------------Cadeado Fechado--------------------------------*/

.CadFechado{
	background: #FF2E12 url(../images/icones/cadeadofechado.png) no-repeat 7px;
	color: #FFFFFF;
	font: 14px verdana, arial, helvetica, sans-serif;
	margin: 5px;
	padding: 10px;
	padding-left: 25px;
	text-align: center;
	text-decoration: none;
}

/*-----------------Link Enable--------------------------------*/

.Habilitado{
	background: url(../images/icones/enable.png) no-repeat 7px;
	color: #FFFFFF;
	font: 14px 00C13F verdana, arial, helvetica, sans-serif;
	margin: 5px;
	padding: 10px;
	padding-left: 25px;
	text-align: center;
	text-decoration: none;
}
/*-----------------Link Disable--------------------------------*/

.Desabilitado{
	background: url(../images/icones/disable.png) no-repeat 7px;
	color: #FFFFFF;
	font: 14px verdana, arial, helvetica, sans-serif;
	margin: 5px;
	padding: 10px;
	padding-left: 25px;
	text-align: center;
	text-decoration: none;
}

/*-----------------Link Edit--------------------------------*/

.Editar{
	background: #8C0095 url(../images/icones/edit.png) no-repeat 7px;
	color: #FFFFFF;
	font: 14px verdana, arial, helvetica, sans-serif;
	margin: 5px;
	padding: 10px;
	padding-left: 25px;
	text-align: center;
	text-decoration: none;
}

/*-----------------Link Procurar--------------------------------*/

.Pesquisar{
	background: url(../images/icones/search.png) no-repeat 7px;
	color: #FFFFFF;
	font: 14px verdana, arial, helvetica, sans-serif;
	margin: 5px;
	padding: 10px;
	padding-left: 25px;
	text-align: center;
	text-decoration: none;
}


/*---------------------Formatação de erro------------------------------*/

label.error {
	display: block;
	color: red;
	font-style: italic;
	font-weight: normal;
}
div.error {
	display: block;
	color: red;
	font-style: italic;
	font-weight: normal;
}	
input.error {
	border-color: red;
}
.error
{
	color: #FF0000;
}
.obrigatorio
{
	color: #FF0000;
}
select.error
{
	border-color: red;
}
