@charset "utf-8";
/* CSS Document */

body, input{
	font-family: Calibri, Arial;
	background: #fafafa;
	background: rgb(238,248,253); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmZDZkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(238,248,253,1) 0%, rgba(250,250,250,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,248,253,1)), color-stop(100%,rgba(250,250,250,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(238,248,253,1) 0%,rgba(250,250,250,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(238,248,253,1) 0%,rgba(250,250,250,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(238,248,253,1) 0%,rgba(250,250,250,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(238,248,253,1) 0%,rgba(250,250,250,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fd6dc', endColorstr='#fafafa',GradientType=1 ); /* IE6-8 */
}
						
#accordion {
	list-style: none;
	padding-left:6px;
	padding-top: 6px;
	padding-right:5px;
	width: 105px;
	}
	
	#accordion1 {
	list-style: none;
	display: block;
	background-color: #00afef;/*343585*/
	font-weight: bold;
	margin: 6px;
	padding: 5 5 5 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #ffffff;
	width:45px;
	padding-left:6px;
	}

#menu{
	display: block;
	background-color: #2F4F4F;
	font-weight: bold;
	margin: 1px;
	cursor: pointer;
	padding: 5 5 5 7px;
	list-style: circle;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #ffffff;
}

#menu a{
	color:#708090
;
}

#menu a:hover {
	text-decoration: none;
	color: #666;
}

#accordion li{
	display: block;
	background-color: #2F4F4F;
	font-weight: bold;
	margin: 1px;
	cursor: pointer;
	padding: 5 5 5 7px;
	list-style: circle;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #ffffff;
	}
#accordion ul {
	list-style: none;
	padding: 0 0 0 0;
	display: none;
}
#accordion ul li{
	font-weight: normal;
	cursor: auto;
	background-color: #BEBEBE;
	padding:5 5 5 7px;
	height:20px;
}
#accordion a {
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#ffffff;
			
}

#accordion a.sair {
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#708090;
			
}

#accordion a:hover {
	text-decoration: none;
	color: #666;
			
}

a{
	text-decoration: none;
}
a img{ 
	border: none; 
}